body {
  background-color: #c4e4db;
}
.card-img-top {
  width: 100%;
}

.pokemon-card {
  margin: 0 !important;
  padding: 0 !important;
  width: 49% !important;
}

.south {
  width: 50%;
}

.pokemon {
  width: 150px;
}
.arrow {
  width: 15px;
}

.header {
  background-color: #91c9be;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #303030;
}

.title-header,
.number-pokemons {
  text-align: right;
}

#nidoqueen,
#nidoking,
#clefairy,
#ninetales,
#jigglypuff,
#golbat,
#oddish,
#paras,
#parasect,
#diglett,
#dugtrio,
#psyduck,
#golduck,
#growlithe,
#arcanine {
  background-color: #91c9be;
}

#nidoran-m,
#nidorino,
#clefable,
#vulpix,
#wigglytuff,
#zubat,
#gloom,
#vileplume,
#venonat,
#venomoth,
#meowth,
#persian,
#mankey,
#primeape,
#poliwag {
  background-color: #79a7a5;
}

.header-container,
.details-title {
  color: #6d9699;
}

.p-pokemon-card {
  text-align: right;
}
